extends layout

block header
  .top-bar
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu)
        li.menu-title
          h1= title
    .top-bar-right
      p Welcome to #{title} #{clientIP}

block content
  .callout
    #app
      h2 {{greet}}
block footer
  div: h4 Footer

block scripts
  script(type='module', src='/javascripts/index.js')
