doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet',
      href='https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css',
      crossorigin='anonymous')/
    link(rel='stylesheet', href='/stylesheets/style.css')/
    block headScripts
      script.
        window.TMACKAPI = {};
        window.TMACKAPI.data = JSON.parse(decodeURI('#{data}'));
  body
    #app.grid-y.medium-grid-frame
      #header.cell.shrink.medium-cell-block-container
        block header
      #content.cell.medium-auto.medium-cell-block-container
        block content
      #footer.cell.shrink.callout.secondary
        block footer
    block scripts
